body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-color: rgb(246, 240, 231);
  font-family: 'Poppins', sans-serif;
}
header nav {
  display: flex;
  align-items: center;
  margin-left: 100px;
}
nav div img {
  width: auto;
  height: 18px;
}
nav ul li {
  display: inline-block;
  margin-right: 50px;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  top: -5px;
}
main {
  padding: 0 8%;
}
#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#left-section {
  margin-top: 10%;
}
#left-section h1 {
  font-size: 30px;
}
#left-section p {
  font-size: 10px;
  font-weight: 100;
}
#left-section div {
  color: white;
  background-color: rgb(22, 116, 22);
  opacity: 0.7;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
  font-size: 10px;
  margin-top: 10px;
}
#right-section {
  margin-top: 5%;
}
#right-section img {
  width: 200px;
  margin: 10px;
}
#right-section img:last-of-type {
  display: block;
  width: 400px;
}
